div.replacer-batch-count-size{
    min-width: 11em !important;
}

div.replacer-generation-size{
    min-width: 11em !important;
}

button.replacer-pause-button{
    text-align: left;
    width: fit-content;
    left: 0;
}

#replacer_video_masking_page_label {
    height: 40px !important;
    font-size: 120%;
    text-align: center;
}

#replacer_video_masking_progress_gallery_container {
    display: none;
}

#image_buttons_replacer_video_masking_progress {
    display: none;
}

#replacer_video_masking_progress_results_panel {
    background: unset;
    margin-top: 20px;
    margin-bottom: 3px;
    padding: unset;
}

#replacer_video_gallery {
    height: 440px;
}





.markdown-browser-file
{
    max-width: 1012px;
    margin-right: auto !important;
    margin-left: auto !important;
    font-size: 16px !important;
    line-height: 1.1 !important;
    overflow-wrap: break-word;
}

.markdown-browser-file table
{
    display: block;
    overflow-x: auto;
}

.markdown-browser-file strong
{
    font-size: 105% !important;
}

.markdown-browser-file a[href]
{
    text-decoration: underline dotted !important;
}

.markdown-browser-file a[href]:where([href="#markdown_browser_top_anchor"])::after
{
    content: '↪';
    font-size: 60% !important;
    font-family: monospace;
}

.markdown-browser-file a[href]:where([href^="#"]:not([href="#markdown_browser_top_anchor"]))::after
{
    content: '#';
    font-size: 65% !important;
    font-family: monospace;
}

.markdown-browser-file p, .markdown-browser-file ol, .markdown-browser-file ul
{
    margin-bottom: 22px !important;
}

.markdown-browser-file details
{
    margin-bottom: 8px !important;
}

.markdown-browser-file a[href]:not([href*="://"]):not([href^="#"])::before
{
    content: '📎';
    font-size: 88% !important;
}
